.header {
  position: absolute;
  width: 100%;
  margin-top: 20px;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.menu-button {
  background-color: #f7fbfb;
  border: none;
}

.icon-menu {
  stroke: #f7fbfb;
}
